[Unit]
Description=Automatically download package updates
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/pacman -Syyuwq --noconfirm
LimitNICE=+19
KillMode=process
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
